.container {
    margin: 0 auto;
    width: 400px;
    height: 100dvh;
    background-image: url('./img/bg_phone.jpeg');
    background-size: cover;
    border-radius: 10px;
}


.dynamic-island-container {
    padding-top: 5px;
}


.dynamic-island {
    background-color: white;
    border-radius: 10px;
    width: 140px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.dynamic-island:active {
    transform: scale(1.1);
}

.dynamic-island.active {
    /* background-color: red; */
    margin-top: 20px;
    transform: scale(2.3);
    transition: transform 0.3s ease
}